<div class="body">
    <div class="header">
      <h1 class="title">NG-HUB SEARCH </h1><br>
      <span class="current"><h3>GitHub User Repository Details</h3></span>
      <header>
        <nav class="links">
          <ul class="nav">
            <li class="li"><a href="#" routerlink="">SEARCH HOME</a></li>
            <li><a href="#" routerlink="user-profile">USER PROFILE</a></li>
          </ul>
        </nav>
       </header>
     </div>
    
     <div class="main">
      <div class="container">
        <div *ngIf="!user">
          <i class="fa fa-spinner fa-pulse"></i>
        </div>
      
        <div *ngIf="user" class="d-flex">
          <div class="w-25">
            <img [src]="user.avatar_url" width="80%" class="rounded-circle">
      
            <h3>{{user.login}}</h3>
          </div>
          <div class="flex-fill p-4">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" id="overview">
              <li [ngbNavItem]="1">
                <a ngbNavLink>GitHub UserProfile</a>
                <ng-template ngbNavContent>
                  <div class="row">
                    <div class="col-md-3">
                      Name:
                    </div>
                    <div class="col-md-3">
                      {{user.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      Location:
                    </div>
                    <div class="col-md-3">
                      {{user.location}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      Biography:
                    </div>
                    <div class="col-md-3">
                      {{user.bio}}
                    </div>
                  </div>
                                 </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Repositories</a>
                <ng-template ngbNavContent>
                  <div class="repos">
                    <div class="row">
                      <div *ngFor="let repo of repositories" class="col-md-4 p-3">
                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{repo.name}}</h5>
                          <p class="card-text">{{repo.description}}.</p>
                          <!-- <a href="#" class="btn btn-primary">{{repo[]}}</a> -->
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
      </div>
      </div>

 