.body{
  overflow:auto;
  
}
.header{

  background-color :rgb(135, 222, 215);
  margin-top:0%;
  margin-bottom: 0%;
}


.title{
  color: rgb(50, 92, 92);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  margin-left: 2%;

  }

.current{
  color: rgb(50, 92, 92);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 20%;
 
}



.li{
  color: rgb(50, 92, 92);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  list-style-type: none;
  display: inline;
  margin-left: 35%;
   }
a{

  text-decoration:none;
}

a:hover{

  color:gold;
}

a:active {

  color:yellowgreen;
}


.main{
 
  background-image: url(/assets/images/userprofiles.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  height:530px;
  width:auto;
  padding-top:0%;
  padding-bottom: 0%;
}

.repos{
  height: calc(100vh - 200px);
  overflow: hidden;
  overflow-y: auto;
  background-color: antiquewhite;
}
#overview{
  background-color:rgb(135, 222, 215);
}


.card{
  width:auto;
  overflow:auto;

}


.inst{
  
  margin-top: 15%;
  margin-left: 4%;
  font-weight: 500;
}
