<div class="body">
  <div class="header">
    <h1 class="title">NG HUB-SEARCH </h1>
    <div class="current"><h3>Hub-User Profile</h3></div>
    <header>
      <nav class="nav">
        <ul>
          <li class="li"><a href="#" routerlink="">HUB-SEARCH HOME</a></li>
          <li class="li"><a href="#"routerlink="repository-details">REPOSITORY DETAILS</a></li>
        </ul>
      </nav>
     </header>
   </div>
  
<div class="main">  
  <div class="container">
    <div *ngIf="!user">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>

  <div *ngIf="user" class="d-flex">
    <div class="w-25">
      <img [src]="user.avatar_url" width="80%" class="rounded-circle">

      <h3>{{user.login}}</h3>
    </div>

    <div class="flex-fill p-4">
          <ng-template>
            <div class="row">
              <div class="col-md-3">
                Name:
              </div>
              <div class="col-md-3">
                {{user.name}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Company:
              </div>
              <div class="col-md-3">
                {{user.company}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Biography:
              </div>
              <div class="col-md-3">
                {{user.bio}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Location:
              </div>
              <div class="col-md-3">
                {{user.location}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Followers:
              </div>
              <div class="col-md-3">
                {{user.followers}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                Following:
              </div>
              <div class="col-md-3">
                {{user.following}}
              </div>
            </div>
     </ng-template>
     </div>
 




