<div class="body">
  <div class="header">
    <h1 class="h1">NG HUB-SEARCH</h1>
    <h3 class="current">Hub-Search Home</h3>
    <header>
      <nav class="links">
      </nav>
     </header>
   </div>
  
<div class="main">
  <div class="container">
    
  <div class="d-flex justify-content-center align-items-center">
      <span><h2 class="marquee"><marquee width="60%" direction="left" height="100px">WELCOME TO NG-HUB SEARCH APP HOME!</marquee></h2></span>
    <div class="inst"><p class="h1">Enter <span class="user">a GitHub Username</span>  
      into the input box below, to access <span class="user">it's Profile</span>
       and <span class="user"> Repository </span><span id="marword">  Details</span></p></div>
  </div>
  <form [formGroup]="hubSearchForm"  (submit)="searchUsername($event)" class="d-flex align-self-center p-3 w-100" >
    <div class="flex-fill">
      <input class="form-control" type="text" formControlName="hubSearchEntry">
    </div>
  <div>
    <button class="btn btn-success" >SEARCH</button>
  </div>
</form>
</div>
</div>

