<div class="body">
  <div class="header">
    <h1 class="top">NG-HUB SEARCH </h1>
    <header>
      <nav class="links">
        <ul class="nav">
          <li><a href="#"></a>SEARCH HOME</li>
          <li><a href="#"></a>USER PROFILE</li>
          <li><a href="#"></a>REPOSITORY DETAILS</li>
        </ul>
      </nav>
     </header>
   </div>
  
<div class="main">
  <div class="d-flex justify-content-center align-items-center">
    <p>Type In <span class="user">A GitHub Username</span>  
      in the input box below, to find <span class="user">
      a GitHub User Profile</span>  and 
      <span class="user">its corresponding Repositories</span></p>
  </div>
  <form [formGroup]="hubSearchForm" (submit)= "searchUsername($event)" class="d-flex align-self-center p-3 w-100">
    <div class="flex-fill">
      <input class="form-control" type="text" formControlName="hubSearch">
    </div>
  <div>
    <button class="btn btn-success">SEARCH</button>
  </div>
</form>
</div>
</div>

