<div class="body">
  <div class="header">
    <h1 class="h1">NG HUB-SEARCH</h1>
    <h3 class="current">Hub-Search Home</h3>
    <header>
      <nav class="links">
      </nav>
     </header>
   </div>
  
<div class="main">
  <div class="d-flex justify-content-center align-items-center">
    <div class="inst"><p class="h1">Enter <span class="user">a GitHub Username</span>  
      in the input box below, to find <span class="user">
      its GitHub User Profile</span>  and 
      <span class="user"> Repository Details</span></p></div>
  </div>
  <div class="d-flex align-self-center p-3 w-100">
  <form [formGroup]:any ="hubSearchForm" (submit)= "searchUsername($event)">
    <div class="flex-fill">
      <input class="form-control" type="text" formControlName="hubSearchEntry">
    </div>
  <div>
    <button class="btn btn-success">SEARCH</button>
  </div>
</form>
</div>
</div>
</div>

